*{
    padding: 0px;
}
header{
    width: 100%;
    height: 100px;
    background-color: black;
}
header ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    
}
header ul li{
    list-style: none;
    padding: 30px;
    color: white;

}

 header button{
     color: black;
     background-color: #FFAC12;
     padding: 10px 20px; 
 }
 .House{
     background-color: black;
     border: 1px solid white;
     height: 100px;
     width: 100%;
     display: flex;
 }
 #Nyumba{
     height: 100px;
     width: 50%;
     align-items: center;
 }
 #Nyumba h3,p{
     color: white;
     padding-left: 20%;
 }
 #Doh{
     width: 50%;
     height: 100px; 
 }
 #Doh h3{
     padding-left: 20%;
     color: white;
 }
 #Doh h3 p{
     color: white;
     font-size: small;
 }
 
 .Pic{
     display: flex;
     width: 100%;
     height: 350px;
     margin: 10px;
 }
 .One{
     width: 40%;
     height: 350px;
    padding-left: 35px;
 }
 .One img{
     width: auto;
     height: 350px;
 }
 .Hall{
     width: 40%;
     height: 350px;
     float: right;
 }
 .Det{
     display: flex;
     height: 50px;
     padding-left: 5%;
 }
 .logo{
     width: 30%;
 }
 .logo img{
     border-radius: 50%;
     height: 35px;
     float: right;
     padding-top: 5px;
 }
 .ails{
     font-size: xx-small;
     padding-left: 5px;
 }
 .ails h5{
     color: #FFAC12;
 }
 .Login{
     padding: 20px;
     margin-left: 18%;
     width: 30%;
     
 }
 .Login input{
    padding: 5px;
    margin: 5px;
    width: 80%;
    border-radius: 10px;
}
 .Login button{
     color: white;
     background-color: black;
     padding: 5px 20px;
 }
 .Fot{
     padding: 30px;
     height: 80px;
     width: 70%;
     display: flex;
 }
 .Fot img{
     width: 7.0%;
     padding: 10px;
 }
 .Tab{
     padding-left: 15px;
     height: 50px;
     width: 70%;
    background-color: #FFAC12;
 }
 .Evr{
     padding-left: 15px;
     height: 50px;
     background-color: #FFAC12;
     display: flex;
 }
 .Evr span{
     display: flex;
     width: 20%;
     border: 1px solid black;
     
 }
 .Tab h2{
     padding: 12px;
 }
 .Details{
     height: 40px;
     display: flex;
     border: 1px solid black;
 }
 #car{
     padding: 5px 20px ;
     width: 20%;
     border: 1px black;
 }
 #two{
    padding: 5px 20px ;
    width: 20%;
    border: 1px black;
 }
 #next{
    padding: 5px 20px ;
    width: 20%;
    border: 1px black;
 }
.Des{
    height: 250px;
    width: 60%;
   margin-top: 80px;
    padding: 20px;
    background-color: red;
}
.Des h2{
    margin-left: 30px;
}
.Des p{
    color: black;
   
}
.Fea{ 
  display: flex;
  background-color: green;
  height: 350px;
  width: 70%;
  justify-content: center;
}
#onene{
   text-align: center;
    height: 350px;
    width: 25%;
    background-color: yellow;
}
#To{
    height: 350px;
    width: 25%;
    background-color: green;
}
#Ora{
    height: 350px;
    width: 25%;
    background-color: purple; 
}
#Air{
    height: 350px;
    width: 25%;
    background-color: red;  
}
.Sim{
    display: flex;
    width: 80%;
    height: 300px;
    padding: 50px;
    overflow: hidden;
}
.Sim img{
    height: auto;
    width: 100%;
 }

.Sim h4{
    padding: 20px;
}
.Sim span{
    padding: 10px;
}
#List{
    color: black;
    font-size: larger;
    margin: 50px;
}
#Ten{
    width: 25%;
     
}
#Ten img{
   height: auto;
   width: 100%;
}
#Eleven{
    width: 25%;
}
#Twelve{
    width: 25%;
}
#Nine{
    width: 25%;
    height: 100px;
}
.Dream{
    background-color:black;
    height: 100px;
    display: flex;
    padding: 20px;
      
}
.Dream p{
   position: absolute;
   right: 220px;
   font-size: larger;
  
}
.Dream button{
position: absolute;
right: 100px;
color: black;
background-color: rgb(131, 131, 10);
height: 40px;
}
.Dream p span{
    color: yellow;
}
.Make{
    display: flex;
    background-color: green;
    height: 350px;
}
.Make h2{
    font-size: small;
}
.Make p{
    font-size: small;
    font-weight: 400;
}
.column{
  background-color: black;
  float: right;
  width: 33.33%;
  padding: 10px;
  height: 200px;
}
.column h2{
    color: white;
    font-size: smaller;
    font-weight: 800;
}
.row {
   
   width: 60%;
    display: flex;
    clear: both;
    float: right;
  }
 